* {
    background-color: rgb(179 255 170);
}

.winner {
    color: #000000;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.result,
.winner,
.finalResult {
    color: #000000;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.reset {
    margin: 30px;
    display: flex;
    flex: space-around;
    justify-content: center;
    text-align: center;
}

.reset button {
    background-color: rgb(17, 11, 11);
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    transition: 100ms;
    border-radius: 12px;
    border: none;
    padding: 15px;
}

.reset button:hover {
    transform: scale(1.12);
    font-weight: bold;
}

.winner {
    color: red;
}

.card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#ss{
    text-align: center;
    font-size: 40px;
}
.card button {
    margin: 20px 80px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 100ms;
}

.card button:hover {
    transform: scale(1.12);
}

.card button img {
    width: 150px;
    border-radius: 20%;
}

.result {
    margin: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.result .score {
    margin-left: 1rem;
    /* font-size: 0.5rem; */
}